
.metadata/.lock

.metadata/.log

.metadata/.mylyn/repositories.xml.zip

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version

.metadata/.mylyn/tasks.xml.zip

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.core.resources/.root/1.tree

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs

*.prefs

*.csv

.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

*.dat

*.xml

*.

*.ini
